h1 {
  margin-top: 15px;
  font-size: 46px;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

footer {
  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app-container {
  background: radial-gradient(
    668px at 2.6% 8.3%,
    rgb(219, 112, 147) 0%,
    rgb(255, 228, 225) 49.5%,
    rgb(200, 130, 200) 99.4%
  );
  padding: 20px;
  border-radius: 10px;
}

.overview {
  font-weight: 500;
  margin-bottom: 20px;
}

.weather-icon {
  padding: 0;
}

.current-temperature {
  font-size: 48px;
  text-align: right;
  padding: 0;
}

.units {
  font-size: 16px;
  padding: 0;
  position: relative;
  top: -10px;
}

.celsius-link,
.fahrenheit-link {
  text-decoration: none;
  color: #000;
}

.celsius-link:hover,
.fahrenheit-link:hover {
  color: #000;
}

.units .active {
  font-weight: 700;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.github-link {
  text-decoration: none;
  color: #8b147e;
}

.github-link:hover {
  text-decoration: underline;
  color: #8b147e;
}

.daily-forecast {
  margin-top: 20px;
  padding: 5px;
  text-align: center;
}

.card-body {
  padding: 15px 0;
}
